{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% load render_bundle from webpack_loader %}

{% block title %}Blog{% endblock title %}

{% block specific_styles %}
    {% render_bundle 'blog' 'css' %}
{% endblock specific_styles %}

{% block specific_scripts %}
    {% render_bundle 'blog' 'js' %}
{% endblock specific_scripts %}

{% block content %}
    {% with articles|first as first_article %}
        {% with articles|slice:"1:" as latter_articles %}
            <div class = "text-center text-light py-5 position-relative" id = "blog-banner">
                <div class = "backdrop-filter position-absolute top-0 bottom-0 start-0 end-0"></div>
                <h1>BLOG</h1>
            </div>
            <div class = "bg-white py-5">
                <div class = "container">
                    <p class = "fw-bold">{{ first_article }}</p>
                    <p>{{ latter_articles }}</p>
                </div>
            </div>
        {% endwith %}
    {% endwith %}
{% endblock content %}
