// -----------------------------------------------------------------------------
// This file contains several variables used accross the project
// -----------------------------------------------------------------------------

$primary-color: #daab5d;
$secondary-color: #deeae6;
$header-height: 7vh;
$footer-height: 18vh;
$content-padding: 3.5vh;
$index-section-padding: 3vh;
